python-dotenv==0.15.0
fastapi
plaid
uvicorn[standard]
SQLAlchemy==2.0.23
fastapi==0.104.1
intuit-oauth
pydantic
bcrypt
plaid-python
asyncpg
PyJWT
httpx
sqlalchemy-cockroachdb
virtualenv
psycopg2-binary
azure-identity
azure-storage-blob[aio]
boto3
